.idea/*

#html/.settings
#html/.project
#html/upload/surveys/*
#html/upload/templates/*
#html/upload/labels/*
#html/tmp/runtime/HTML
#html/tmp/runtime/*.log*
#html/application/controllers/admin/updater.php
#html/tmp/*.html
#html/tmp/*.lss
#html/tmp/*.png
#html/tmp/*.xls
#html/tmp/*.lsa
#html/tmp/upload/fu*
#html/upload/.htaccess
#html/nbproject
#html/tmp/assets/*
#!html/tmp/assets/.gitignore
#html/tmp/runtime/cache/*
#html/.svn
#html/third_party/jqgrid/src
#html/.settings/org.eclipse.php.core.prefs
#html/.buildpath
#html/application/config/config.php
#html/application/config/_config.php
#html/*.un~
#!html/index.html
#!html/readme.txt
#html/tmp/runtime/URI/*.ser
#html/tmp/runtime/CSS/*.ser
#html/tmp/runtime/twig_cache/*
html/launch.json
# ignore plugins directory by default except LS plugin
# if you want to add a new distributed plugin : add the directory here
#html/plugins/*
#!html/plugins/index.html
#!html/plugins/Demo/
#!html/plugins/AuditLog/
